<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h5>ジャンル検索</h5>
      <table>
        <tr>
          <td>ケーキ</td>
        </tr>
        <tr>
          <td>焼き菓子</td>
        </tr>
        <tr>
          <td>プリン</td>
        </tr>
        <tr>
          <td>キャンディ</td>
        </tr>
      </table>
    </div>
    <div class="col-md-9">
      <div class="container">
        <%= image_tag "cakes-gcb44a637d_1920.jpg", alt: "cake1", :size =>'650x400' %>
        <h5>ようこそ、ながのCAKEへ！<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。
        </h5>
      </div>
    </div>
  </div>
</div>