<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h4>. さんの会員詳細</h4>
      <table>
        <tr>
          <th>会員ID</th>
          <td></td>
        </tr>
        <tr>
          <th>氏名</th>
          <td></td>
        </tr>
        <tr>
          <th>フリガナ</th>
          <td></td>
        </tr>
        <tr>
          <th>郵便番号</th>
          <td></td>
        </tr>
        <tr>
          <th>住所</th>
          <td></td>
        </tr>
        <tr>
          <th>電話番号</th>
          <td></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td></td>
        </tr>
        <tr>
          <th>会員ステータス</th>
          <td></td>
        </tr>
      </tbale>
    </div>
    <div class="d-flex justify-content-around">
      <p><%= link_to "編集する", admin_customer_path, class: "btn btn-success" %></p>
      <p><%= link_to "注文履歴一覧を見る", admin_orders_show_path, class: "btn btn-primary" %></p>
    </div>
  </div>
</div>

