<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>ショッピングカート</h2>
      <table>
        <th>
          <tr>商品名</tr>
          <tr>単価</tr>
          <tr>数量</tr>
          <tr>小計</tr>
        </th>
        <table>
        </table>
      </table>
    </div>
  </div>
</div>