<div class="container">
  <div class="row">
    <div class="col-sm-10">
      <h4>商品一覧</h4>
    </div>
  </div>
</div>
<div class="content-block">
<% @items.each do |item| %>
  <div class="content-box">
    <%= link_to public_item_path(item) do %>
      <% if item.image.attached? %>
        <%= image_tag item.image, size: "200x200" %>
      <% else %>
        <%= image_tag 'no_image', size: "200x200" %>
      <% end %>
    <% end %>
    <div class="content-comment">
      <span class="Item-name"><%= item.name %></span>
    </div>
  </div>
<% end %>
</div>